
html {
    background: url("https://cdn.glitch.global/3fbf01e6-a157-47c3-9278-0c3e261a2ecc/FUcXOTqVIAEpDWg.png?v=1660190654773");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  