body {
    background-color: black;
    text-align: center;
    background: url(digital-art-space-art-space-planet-wallpaper-58d6ad28a080bc7840ccc11e586204aa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.lienhe {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
    transition: opacity 1s;
}

.lienhe:hover {
    opacity: 0.2;
}

.info {
    font-family: 'Poiret One', cursive;
    margin: 10px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    bottom: 100px;
    opacity: 1;

}

.info {
    cursor: default;
}

.icon {
    opacity: 0.85;
    margin: auto;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    transition: width 2s, height 2s, transform 3.0s, opacity 1s;
}

.icon:hover {
    opacity: 0.2;
    transform: rotate(360deg);
}

.icon {
    cursor: help;
}

.music {
    position: relative;
    right: -945px;
    top: 120px;
    opacity: 0.2;
    border-radius: 5%;
    display: block;
    transition: opacity 0.5s;
}

.music:hover {
    opacity: 0.6
}

@media only screen and (max-width: 600px) {
    body {
        background-color: black;
        background: url(85b5976bdbfea6eef0e3bef9b62b43f5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .music {
        height: 200px;
        width: 50%;
        size: 1%;
        right: -91px;
        top: 50px;
    }

}